<app-nav></app-nav>
<div class="container">
  <form class="form-inline" #budgetDetailForm="ngForm" (ngSubmit)="onSubmit(budget); budgetDetailForm.reset()" *ngIf="budget">
    <div class="form-group">
      <input required type="text" class="form-control" id="description" name="description" placeholder="Description" #description="ngModel"
        [(ngModel)]="budget.description">
    </div>
    <div class="form-group">
      <select required type="number" class="form-control" id="category" name="category" #category="ngModel" [(ngModel)]="budget.category">
        <option placeholder="Category" *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <input required type="number" class="form-control" id="cost" name="cost" placeholder="Cost" #cost="ngModel" [(ngModel)]="budget.cost">
    </div>
    <button [disabled]="!budgetDetailForm.valid" type="submit" class="btn btn-md btn-success">Submit</button>
  </form>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Category</th>
        <th>Cost</th>
        <th># of Burritos</th>
      </tr>
    </thead>
    <!-- *ngFor implementation -->
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <!-- <td [ngStyle]="{'color':b.category.id != 13 ? 'red' : 'green'}"></td> -->
        <td></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-md btn-default pull-right" (click)="reset()" role="button">Reset</button>
</div>
<app-footer></app-footer>
